/* Coolors Exported Palette - coolors.co/e55c24-034732-008148-c6c013-ef2917 */

/* HSL */
$color1: hsla(17%, 79%, 52%, 1);
$color2: hsla(161%, 92%, 15%, 1);
$color3: hsla(153%, 100%, 25%, 1);
$color4: hsla(58%, 82%, 43%, 1);
$color5: hsla(5%, 87%, 51%, 1);

/* RGB */
$color1: rgba(229, 92, 36, 1);
$color2: rgba(3, 71, 50, 1);
$color3: rgba(0, 129, 72, 1);
$color4: rgba(198, 192, 19, 1);
$color5: rgba(239, 41, 23, 1);