
/* customizations go above this line */
@import "../vendors/bulma/bulma.sass";

.frontmancheck {
  background-image: url("../images/pexels-photo-305244.jpeg");
  background-repeat:no-repeat;
  background-size: auto;
  background-position: center;
}
