@import './fanhoops_palette.scss';

$footer-background-color: $color1;
$navbar-dropdown-arrow: $color1;
$navbar-item-hover-color: $color1;
$navbar-dropdown-item-hover-background-color: $color1;

/* Import Bulma styles. Customizations go above this line */
@import "../vendors/bulma/bulma.sass";

.frontmancheck {
  background-image: url("../images/pexels-photo-305244.jpeg");
  background-repeat:no-repeat;
  background-size: auto;
  background-position: center;
}
